

body {
    background-color: #f9f9f9;
}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15rem;
    left: 36rem;
    cursor: pointer;
    width: 190px;
    min-height: 30vh;
    font-size: 30px;
    font: bold;
}

.element:hover {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset, 
    -10px -10px 10px white inset;
}